.header{
    background-color: aqua;
    text-align: center;
    background-image: url("Bg.png");
    padding: 90px;
    color: rgb(136, 195, 243);
    background-size: cover;

}

.subHeader{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.grid{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 30px;
    padding: 30px;
}

.item{
    background-color: black;
    padding: 30px;
    margin: 30px;
}

p{
    color: cornsilk;
}

.footer{
    display: flex;
    justify-content: center;
}

.item:hover img{
    opacity: 0.3;
}

.item:hover p{
    opacity: 1;
    font-size: 34px;
}

.item p{
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 34px;
}

.item{
position: relative;
box-shadow: 5px 5px 20px;

}

.grid{
    font-family: 'Tourney', cursive;
}

.icon:hover img{
    width: 120px;
    height: 120px;
}
